<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'> 
 
<web-app> 
  <display-name>Databus2 Forum Bootstrap Producer</display-name> 
  <description>Databus2 Forum Bootstrap Producer</description> 
 
  <!-- ******************************************************************* --> 
  <!-- * Context params * --> 
  <!-- ******************************************************************* --> 
  <!-- List of components (used by ComponentsContextLoaderListener) --> 
  <context-param> 
    <param-name>components</param-name> 
    <param-value>/WEB-INF/components/databus2-bootstrap-producer-mbrrec-cmpt</param-value> 
  </context-param> 
 
  <!-- ******************************************************************* --> 
  <!-- * Listeners * --> 
  <!-- ******************************************************************* --> 
 
  <!-- Initializes log4j --> 
  <listener> 
    <listener-class>com.linkedin.container.jmx.log.LogInitializer</listener-class> 
  </listener> 
 
  <!-- Main Listener which initializes Databus --> 
  <listener> 
    <listener-class>com.linkedin.spring.servlet.ComponentsContextLoaderListener</listener-class> 
  </listener> 
 
  <!-- ******************************************************************* --> 
  <!-- * Servlets definition * --> 
  <!-- ******************************************************************* --> 
  <servlet> 
    <servlet-name>AdminServlet</servlet-name> 
    <servlet-class>com.linkedin.spring.servlet.admin.ServerAdminServlet</servlet-class> 
    <load-on-startup>1</load-on-startup> 
  </servlet> 
 
  <!-- ******************************************************************* --> 
  <!-- * Servlets mapping * --> 
  <!-- ******************************************************************* --> 
  <servlet-mapping> 
    <servlet-name>AdminServlet</servlet-name> 
    <url-pattern>/admin</url-pattern> 
  </servlet-mapping> 
  
</web-app>
