localhost         =localhost

db.port           =1521
db.sid            =${env.ORACLE_SID}
db.hostname       =${localhost}

###################################
# bizfollow Oracle DB connection properties
###################################
bizfollow.db.user        =bizfollow
bizfollow.db.password    =bizfollow
bizfollow.db.sid         =${db.sid}
bizfollow.db.hostname    =${db.hostname}
bizfollow.db.port        =1521
db.bizfollow.URL=jdbc:oracle:thin:${bizfollow.db.user}/${bizfollow.db.password}@${bizfollow.db.hostname}:${bizfollow.db.port}:${bizfollow.db.sid}

#############################################################
# Liar Oracle DB connection properties
#############################################################
liar.db.user        =liar
liar.db.password    =liar
liar.db.hostname    =${db.hostname}
liar.db.sid         =${db.sid}
liar.db.port        =1521
db.liar.URL=jdbc:oracle:thin:${liar.db.user}/${liar.db.password}@${liar.db.hostname}:${liar.db.port}:${liar.db.sid}

###################################
# SDR Oracle DB connection properties
###################################
sdr.db.user        =sdr
sdr.db.password    =sdr
sdr.db.sid         =${db.sid}
sdr.db.hostname    =${db.hostname}
sdr.db.port        =1521
db.drURL=jdbc:oracle:thin:${sdr.db.user}/${sdr.db.password}@${sdr.db.hostname}:${sdr.db.port}:${sdr.db.sid}

#############################################################
# Databus 2 bootstrap DB configuration properties
#############################################################
databus2.bootstrap.db.host=${localhost}
databus2.bootstrap.db.user=bootstrap
databus2.bootstrap.db.password=bootstrap



#############################################################
# Databus 2 relay configuration properties
#############################################################
databus2.relay.sources.bizfollow.slowQueryThreshold=2000
databus2.relay.sources.bizfollow.list=com.linkedin.events.bizfollow.bizfollow.BizFollow

databus2.relay.sources.liar.slowQueryThreshold=2000
databus2.relay.sources.liar.list=com.linkedin.events.liar.memberrelay.LiarMemberRelay,com.linkedin.events.liar.jobrelay.LiarJobRelay

databus2.relay.sources.sdr.slowQueryThreshold=2000
databus2.relay.sources.sdr.list=com.linkedin.events.sdr.sdrPeopleSearchP1_6

###########################
# Host assignments 
###########################
databus2.relay.host1=esv4-bed01.stg
databus2.relay.host2=esv4-bed02.stg
databus2.bootstrap.producer.host1=esv4-bed01.stg
databus2.bootstrap.producer.host2=esv4-bed02.stg
databus2.bootstrap.server.host1=esv4-bed01.stg
databus2.bootstrap.server.host2=esv4-bed02.stg
databus2.client.testConsumer.host1=esv4-bed01.stg
databus2.client.testConsumer.host2=esv4-bed02.stg


###########################
# Port assignments
###########################
databus2.relay.bizfollow.port=9090
databus2.relay.liar.port=9091
databus2.relay.sdr.port=9092
databus2.bootstrap.producer.bizfollow.port=6060
databus2.bootstrap.producer.liar.port=6061
databus2.bootstrap.producer.sdr.port=6062
databus2.bootstrap.server.port=6161
databus2.client.testConsumer.port=7071

###########################
# Cache paths 
###########################
databus2.relay.sources.bizfollow.maxScnDir=/export/content/databus2-relay-bizfollow/i001_caches/databus2-relay-bizfollow-maxScn
databus2.relay.sources.liar.maxScnDir=/export/content/databus2-relay-liar/i001_caches/databus2-relay-liar-maxScn
databus2.relay.sources.sdr.maxScnDir=/export/content/databus2-relay-sdr/i001_caches/databus2-relay-sdr-maxScn
databus2.bootstrap.producer.bizfollow.cp3.path=/export/content/databus2-bootstrap-producer-bizfollow/i001_caches/databus2-bootstrap-producer-bizfollow-cp3
databus2.bootstrap.producer.liar.cp3.path=/export/content/databus2-bootstrap-producer-liar/i001_caches/databus2-bootstrap-producer-liar-cp3
databus2.bootstrap.producer.sdr.cp3.path=/export/content/databus2-bootstrap-producer-sdr/i001_caches/databus2-bootstrap-producer-sdr-cp3
databus2.client.testConsumer.cp3.path=/export/content/databus2-client-test-consumer/i001_caches/databus2-client-test-consumer-cp3

###########################
# Static paths 
###########################
databus2.schemasRegistry.path=/var/share/databus2/schemas_registry

